#mplayer-container {
	position: fixed;
	bottom: 50px;
	right: 150px;
}

#mplayer {
	position: absolute;
	height: 250px;
	bottom: 65px;
	background: #863161;
	width: 260px;
	right: -85px;
    border-radius: 10px;
    z-index: 5;
}

#mplayer:hover #mplayer-details {
 -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#mplayer::before{
    content: "";
    position: absolute;
    bottom: 97px;
    width: 100%;
    top: 0;
    z-index: 7;
    border-radius: 10px 10px 0 0;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.16) 0%, rgba(0,0,0,0.18) 44%, rgba(0,0,0,0.74) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.16)), color-stop(44%,rgba(0,0,0,0.18)), color-stop(100%,rgba(0,0,0,0.74)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.18) 44%,rgba(0,0,0,0.74) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.18) 44%,rgba(0,0,0,0.74) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.18) 44%,rgba(0,0,0,0.74) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.18) 44%,rgba(0,0,0,0.74) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29000000', endColorstr='#75000000',GradientType=1 );
}
#mplayer-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 24pt;
    color: #eee;
    z-index: 7;
    border-radius: 0 0 10px 10px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.74) 0%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.74)), color-stop(68%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75000000', endColorstr='#000000',GradientType=0 );

    
}



span.m-nav {
    display: inline-block;
    width: 21%;
    text-align: center;
    padding: 40px 0 20px;
    cursor: pointer;
}

span.m-nav:hover{
    text-shadow: 0 0 5px #fff;
}

div.m-nav{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 20px 0;
}

div.m-nav::before{
    content: "";
    background: #eee;
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 66%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(66%,rgba(0,0,0,0)), color-stop(68%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 66%,rgba(0,0,0,1) 68%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

}





#m-nav-playbg {
    position: relative;
}

#m-nav-playbg span{
    cursor: pointer;
}

#m-nav-playbg span:hover {
    text-shadow: 0 0 5px #fff;   
}

#m-nav-playbg::before {
    content: "";
    background: transparent;
    border: 5px solid #000;
    height: 80px;
    text-align: center;
    width: 80px;
    left: 20px;
    bottom: -25px;
    border-radius: 60px;
    margin: auto;
    position: absolute;
    box-shadow: 0 -3px 10px rgba(134, 49, 79,.50);
    z-index: -1;
}

#m-nav-play {
    display: none;
}

#mplayer-cover {
    position: absolute;
    border-radius: 10px;
    z-index: 6;
    width: 100%;
    height: 100%;
}
#mplayer-cover img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#m-nav-left {
    text-align: right;
}

#m-nav-right {
    text-align: left;
}

#m-progress {
    height: 2px;
    width: 45%;
    position: absolute;
    background: rgba(230, 126, 34,1.0);
    box-shadow: 0 0 4px rgba(230, 126, 34,1.0);
    top: 0;
}

#m-progress::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background: #fff;
    box-shadow: 0 0 1px 2px #ffc491;
    top: -1px;
    right: 0;
    border-radius: 2px;
}

#mplayer-details {
    position: absolute;
    opacity: 0;
    cursor: default;
    z-index: 7;
    left: 20px;
    right: 20px;
    top: 0px;
    padding: 20px 0;
    background: rgba(0,0,0,0.5);
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14pt;
    font-weight: 200;
    text-align: center;
}

#mplayer-artist {
    color: #ddd;
    display: block;
    font-size: 10pt;
    margin-top: 10px
}

#mplayer-button {
    background: rgba(0,0,0,0.8);
    padding: 5px 30px;
    font-size: 18pt;
    color: #fff;
    border-radius: 5px;
}



/* Animations from Animate.css. */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
